# Ignores all root directories except for .config and its subdirectories.
*/
!.config/
!.config/**/

# Ignores specific files and folders.
.bash_history
.config/discord/
.config/go/
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.config/chromium/
.config/GIMP/
